@using S5_RH.Models.bdd.orm
@{
    List<Diplome> dip = (List<Diplome>)ViewData["Diplome"];
    List<Experience> e= (List<Experience>)ViewData["Experience"];
    List<Sexe> s=(List<Sexe>) ViewData["Sexe"];
    List<SituationMatrimoniale> situationMatrimoniales =(List<SituationMatrimoniale>) ViewData["Situation"];
}
<br/>
<br/>
<div class="container">
    <form action="/Candidature/Questionnaire/" method="post">
        @Html.ValidationSummary()
        <div class="row" style="padding-top: 5%; padding-bottom: 5%;">
            <h1>Details candidature</h1>
            <div class="col-6 border-1">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-0" id="Nom" name="Nom" required="">
                    <label for="Nom">Nom</label>
                </div>
                <div class="forgm-floating mb-3">
                    <input type="text" class="form-control rounded-0" id="prenom" name="Prenom" required>
                    <label for="prenom">Prenom</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="datetime-local" name="DateDeNaissance" class="form-control rounded-0" id="DateDeNaissance" required>
                    <label for="dateDeNaissance">Date de naissance</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="Telephone" class="form-control rounded-0" id="telephone">
                    <label for="telephone">Téléphone</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea name="Motivation" class="form-control rounded-0" id="motivation" style="height: 190px;" required>
                        
                    </textarea>
                    <label for="motivation">Motivation (facultatif)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="file" class="form-control rounded-0" name="Photo" id="photoRecente" required>
                </div>
            </div>
            <div class="col-6 border-1">
                <div class="form-floating mb-3">
                    <select class="form-control rounded-0" name="IdDiplome" id="diplome" required>
                        @foreach (var d in dip)
                        {
                            <option value="@d.IdDiplome">@d.Details</option>
                        }
                    </select>
                    <label for="diplome">Diplôme</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control rounded-0" name="IdExperience" id="experience" required>
                        @foreach (var d in e)
                        {
                            <option value="@d.IdExperience">@d.Details</option>
                        }
                    </select>
                    <label for="experience">Expérience</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-control rounded-0" name="IdSexe" id="sexe" required>
                        @foreach (var d in s)
                        {
                            <option value="@d.IdSexe">@d.Details</option>
                        }
                    </select>
                    <label for="sexe">Sexe</label>
                </div>

                <div class="form-floating mb-3">
                    <select name="IdSituationMatrimoniale" class="form-control rounded-0" id="situationMatrimoniale" required>
                        @foreach (var d in situationMatrimoniales)
                        {
                            <option value="@d.IdSituationMatrimoniale">@d.Details</option>
                        }
                    </select>
                    <label for="situationMatrimoniale">Situation matrimoniale</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea name="Hobies" class="form-control rounded-0" id="hobies" style="height: 190px;" required>
                        
                    </textarea>
                    <label for="hobies">Hobies</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="file" name="Documents[]" class="form-control rounded-0" id="documentDiplome" required>

                </div>
                <button type="submit" class="btn btn-primary mt-5" style="float: right;">Submit</button>
            </div>
        </div>
    </form>
</div>
<style>
    textarea{
         height: 190px;
    }
</style>